[safe]
	directory = /home/spot-teleop/spot-ros2_ws/src/moveit2
	directory = /home/spot-teleop/spot-ros2_ws/src/moveit2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/nexus/spot-teleop/spot-ros2_ws
	directory = /home/spot-teleop/spot-ros2_ws/src/curobo
	directory = /home/spot-teleop/spot-ros2_ws/src/isaac_ros_nvblox
	directory = /home/spot-teleop/spot-ros2_ws/src/isaac_ros_nvblox/nvblox_ros/nvblox_core
	directory = /home/spot-teleop/spot-ros2_ws
[user]
	email = murilo.mv4321@usp.br
	name = murilo-vinicius04
[credential]
	helper = "!f() { /home/spot-teleop/.vscode-server/bin/cfbea10c5ffb233ea9177d34726e6056e89913dc/node /tmp/vscode-remote-containers-9d6b4989-98ae-46a1-b388-dde184ed1f11.js git-credential-helper $*; }; f"
