[safe]
	directory = /home/spot-teleop/spot-ros2_ws/src/moveit2
	directory = /home/spot-teleop/spot-ros2_ws/src/moveit2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/nexus/spot-teleop/spot-ros2_ws
[user]
	email = murilo.mv4321@usp.br
	name = murilo-vinicius04
[credential]
	helper = "!f() { /home/spot-teleop/.vscode-server/bin/072586267e68ece9a47aa43f8c108e0dcbf44622/node /tmp/vscode-remote-containers-cd1dd88a-9ce9-44c5-9f42-98a2453d06b4.js git-credential-helper $*; }; f"
